<div class='hg-col col-sm-1 thing--person_id'> <%= thing.person.try(:name) || '<span class="content ">MISSING</span>'.html_safe %></div>
<div class='hg-col col-sm-1 thing--bbb'> <% if thing.bbb.nil? %>
        <span class=''>MISSING</span>
    <% elsif thing.bbb %>
      YES
    <% else %>
      NO
    <% end %></div>
<div class='hg-col col-sm-1 thing--ccc'> <% unless thing.ccc.nil? %>
      <%= thing.ccc %>
    <% else %>
      <span class=''>MISSING</span>
    <% end %></div>
<div class='hg-col col-sm-1 thing--ddd'> <% unless thing.ddd.nil? %>
  <%= thing.ddd.in_time_zone(current_timezone).strftime('%m/%d/%Y @ %l:%M %p %Z') %>
  <% else %>
  <span class=''>MISSING</span>
  <% end %></div>
<div class='hg-col col-sm-1 thing--eee'> 
    <% if thing.eee.nil? %>
        <span class='alert-danger'>Missing eee</span>
    <% else %><%=  Thing.eee_enum_labels[thing.eee.to_sym] %><% end %></div>
<div class='hg-col col-sm-1 thing--fff'> <%= thing.fff %></div>
<div class='hg-col col-sm-1 thing--iii'> <%= thing.iii %></div>
<div class='hg-col col-sm-1 thing--sss'> <%= thing.sss %></div>
<div class='hg-col col-sm-1 thing--ttt'> <%= thing.ttt %></div>
<div class='hg-col col-sm-1 thing--mmm'> <% unless thing.mmm.nil? %>
      <%= thing.mmm.in_time_zone(current_timezone).strftime('%l:%M %p ') %>
     <% else %>
    <span class=''>MISSING</span>
    <% end %></div>









<div class=" scaffold-line-buttons col-md-2" >
  

  
    <%= form_with url: thing_path(thing), html: {data: {'turbo-confirm': "Are you sure you want to delete #{ thing.to_label }?" }, style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe,  class: "delete-thing-button btn btn-primary btn-sm" %>
    <% end %>
  

  
  <%= link_to "Edit ".html_safe, edit_thing_path(thing), disable_with: "Loading...", class: "edit-thing-button btn btn-primary btn-sm" %>
  
</div>
